# Cluster name, will be the prefix to all OpenStack resources created.
# Use a lower case hyphen-separated name for consistency
cluster_name = "c3g-dev-k8s"

# Image variables, always use the ID.
#   Get options with 'openstack image list'
bastion_image = "IMAGE UUID"
mgmt_image = "IMAGE UUID"
control_plane_image = "IMAGE UUID"
worker_image = "IMAGE UUID"

# Flavor variables, always use the ID.
#   Get options with 'openstack flavor list'
bastion_flavor = "FLAVOR UUID"         # ha2-2.5gb
mgmt_flavor = "FLAVOR UUID"            # ha2-2.5gb
control_plane_flavor = "FLAVOR UUID"   # ha8-10gb
worker_flavor = "FLAVOR UUID"          # ha8-10gb

# Volume sizes in GB.
bastion_volume_size = 20
mgmt_volume_size = 20
control_plane_volume_size = 50
worker_volume_size = 50

# Volume types
bastion_volume_type = "volumes-ssd"
mgmt_volume_type = "volumes-ssd"
control_plane_volume_type = "volumes-ssd"
worker_volume_type = "volumes-ssd"

# OpenStack keypair
#   Get valid options with 'openstack keypair list'
keypair = "YOUR KEYPAIR NAME"

# Networking
public_network_id = "PUBLIC NETWORK UUID"
router_name = "ROUTER NAME"
