# Cluster name, will be the prefix to all OpenStack resources created.
# Use a lower case hyphen-separated name for consistency
cluster_name = "c3g-dev-k8s"

# Image variables, always use the ID.
#   Get options with 'openstack image list'
bastion_image       = "IMAGE UUID"
mgmt_image          = "IMAGE UUID"
control_plane_image = "IMAGE UUID"
worker_image        = "IMAGE UUID"

# Flavor variables, always use the ID.
#   Get options with 'openstack flavor list'
bastion_flavor       = "FLAVOR UUID"
mgmt_flavor          = "FLAVOR UUID"
control_plane_flavor = "FLAVOR UUID"
worker_flavor        = "FLAVOR UUID"

# Volume sizes in GB.
bastion_volume_size       = 20
mgmt_volume_size          = 20
control_plane_volume_size = 50
worker_volume_size        = 50

# Volume types: volumes-ssd OR volumes-ec
bastion_volume_type       = "volumes-ssd"
mgmt_volume_type          = "volumes-ssd"
control_plane_volume_type = "volumes-ssd"
worker_volume_type        = "volumes-ssd"

# Instance counts
control_plane_count = 3 # Default (3 or more for HA)
worker_count        = 3 # Default (3 or more for HA)

# Cloud-Init (User data)
bastion_user_data_path = "userdata/bastion.yaml"
mgmt_user_data_path    = "userdata/mgmt.yaml"
cp_user_data_path      = "userdata/k8s-master.yaml"
worker_user_data_path  = "userdata/k8s-worker.yaml"

# OpenStack keypair
#   Get valid options with 'openstack keypair list'
keypair = "YOUR KEYPAIR NAME"

# Networking
public_network_id = "PUBLIC NETWORK UUID"
router_name       = "ROUTER NAME"
